@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(184, 229, 248);
  border-radius: 50rem;
  border: 4px solid rgb(0, 0, 0);
}

/* global */
main>div {
  width: min(90vw, 1150px)
}

aside {
  backdrop-filter: blur(35px);
  height: 100%;
  z-index: 5;
}

.nav-links {
  backdrop-filter: blur(35px) brightness(1.4);
}

.nav-btn::after {
  content: "";
  width: 0;
  height: .1rem;
  border-radius: 500rem;
  position: absolute;
  left: 50%;
  bottom: -36px;
  transform: translate(-50%, 0);
  transition: all 250ms ease-in-out;
}

.nav-line {
  width: 37%;
}

.actived-nav::after {
  background: white;
  width: 100%;
}

/* home page */
.home-main {
  background: url('../public/assets/home/background-home-mobile.jpg') center/cover no-repeat fixed;
}

.home-header-text {
  letter-spacing: .2rem;
  line-height: 1.3;

}

.home-header-text span {
  font-size: 5rem;

}

.home-text {
  max-width: 19rem;
  font-size: 1.1rem;

}

.home-buttom {
  width: 9rem;
  height: 9rem;
}

/* destination */
.destination-main {
  background: url('../public/assets/destination/background-destination-mobile.jpg') center/cover no-repeat fixed;
}

.destination-main::after {
  content: '';
  background-color: rgba(7, 7, 7, 0.25);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.destination-main>div {
  z-index: 2;
}

.planet-container {
  width: 13rem;
  height: 13rem;
}

.planet-img,
.single-thechnology,
.person-img {
  transition: transform 250ms, opacity 150ms;
}

.destination-btn {
  position: relative;
  transition: all 250ms ease-in-out;
}

.destination-btn::after {
  content: "";
  width: 0;
  height: .2rem;
  border-radius: 500rem;
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translate(-50%, 0);
  transition: all 250ms ease-in-out;
}

.destination-btn-active::after {
  background: white;
  width: 100%;
}

/* crew */
.crew-main {
  background: url('../public/assets/crew/background-crew-mobile.jpg') center/cover no-repeat fixed;
  position: relative;
}

.crew-main::after {
  content: '';
  background-color: rgba(7, 7, 7, 0.25);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.crew-main>div {
  z-index: 2;
}

.person-img-container {
  width: 300px;
  height: 300px;
}


/* technology */
.technology-main {
  background: url('../public/assets/technology/background-technology-mobile.jpg') center/cover no-repeat fixed;
  position: relative;
}

.technology-main::after {
  content: '';
  background-color: rgba(7, 7, 7, 0.25);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.technology-main>div {
  z-index: 2;
  width: 100%;
}

.technology-btn {
  width: 3rem;
  height: 3rem;
}

.technology-container {
  width: 100%;
  height: 12rem;
}

/* tablet */
@media (min-width:768px) {
  .home-main {
    background-image: url('../public/assets/home/background-home-tablet.jpg');
  }

  .destination-main {
    background-image: url('../public/assets/destination/background-destination-tablet.jpg');
  }

  .technology-main {
    background-image: url('../public/assets/technology/background-technology-tablet.jpg');
  }

  .crew-main {
    background-image: url('../public/assets/crew/background-crew-tablet.jpg');
  }

  .home-header-text {
    font-size: 1.2rem;

  }

  .home-header-text span {
    font-size: 9rem;

  }

  .home-text {
    max-width: 27rem;
    font-size: 1.3rem;
    line-height: 1.5;

  }

  .home-buttom {
    width: 14rem;
    height: 14rem;
  }

  .planet-container {
    width: 75%;
    width: 18rem;
    height: 18rem;
  }

  .destination-btn {
    font-size: 1.2rem;
  }

  .technology-container {
    height: 20rem;
  }

  .person-img-container {
    width: 450px;
    height: 450px;
  }
}

@media (min-width:1024px) {
  .home-main {
    background-image: url('../public/assets/home/background-home-desktop.jpg');
  }

  .destination-main {
    background-image: url('../public/assets/destination/background-destination-desktop.jpg');
  }

  .technology-main {
    background-image: url('../public/assets/technology/background-technology-desktop.jpg');
  }

  .crew-main {
    background-image: url('../public/assets/crew/background-crew-desktop.jpg');
  }

  .nav-btn::after {
    bottom: -28px;
    transform: translate(-43%, 0%);
  }


  .home-header-text {
    font-size: 1.5rem;
  }

  .home-header-text span {
    font-size: 9.5rem;

  }

  .home-text {
    max-width: 30rem;
    font-size: 1.5rem;
    line-height: 1.5;

  }

  .home-buttom {
    width: 17rem;
    height: 17rem;
  }

  .planet-container {
    padding-top: 2rem;
    width: 50%;
    height: 32rem;
  }

  .technology-container {
    width: 30%;
    height: 20rem;
  }


  .technology-btn {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .person-img-container {
    padding-top: 2rem;
    width: 55%;
    height: calc(100vh - 169px);
  }
}

@media (min-width:1440px) {
  .technology-btn {
    width: 5rem;
    height: 5rem;

  }

  .technology-container {
    width: 32%;
    height: 27rem;
  }
}